confluent-kafka==2.5.3
kafka-python==2.2.15
loguru==0.7.2
clickhouse-connect==0.7.17
pydantic==2.8.2
pydantic-settings==2.4.0
SQLAlchemy==2.0.43
asyncpg==0.30.0

# OpenTelemetry (Tracing)
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0